<div class="box">
  <div class="text">
  <h1> Welcome to Rock, Paper, Scissors!</h1>

  <p>You and a partner both secretly pick one of rock, paper or scissors. The game will compare your choices and tell you the winner!</p>
  <ul class="list">
    <li>Paper covers rock - Paper wins!</li>
    <li>Rock smashes scissors - Rock wins!</li>
    <li>Scissors cuts paper - Scissors wins!</li>
  </ul>
  <h3>Do you feel lucky? Give it a try!</h3>
  <p>Example to type: <a href="/paper/rock">/paper/rock</a></p>
  </div>
</div>
